.project-detail {
    width: 100%;
    text-align: left;
    padding: 40px;
    margin-top: 54px;
    background-color: #f4f4f4;
}

.project-con {
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 26px;
}

.moveBtn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #007bff; /* 기본 색상 (파란색) */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-decoration: none;
}
  
/* 마우스 호버 효과 */
.moveBtn:hover {
  background-color: #0056b3; /* 어두운 파란색 */
  transform: translateY(-3px);
}